.nemesi-app-container{
    border-radius: 12px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
}
.topbar-menu-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .p-chip {
        height: 30px;
    }
}

@media (max-width: 991px) {
    .topbar-menu-right-container  {
        flex-direction: column;
    }
}

.col {
    max-width: 100%;
}

.p-overlay.p-component {
    max-width: 100%;
}

.p-dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-dialog-header{
    border-radius: 20px;
}

/* Classe per messaggi di errore - forzare inclusione */
.p-error, small.p-error, span.p-error, div.p-error {
    color: red !important;
    display: block;
}
