<div class="surface-section p-4 nemesi-app-container">
    <div class="col-12 flex justify-content-end mb-4">
        <img src="images/logo-cliente.svg" style="height: 40px;" alt="logo">
    </div>

    <p-divider align="left" type="solid" *ngIf="hasBasicInfoPermissions">
        <b>Informazioni di base</b>
    </p-divider>
    <div class="grid">
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadUser">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-users text-6xl text-primary mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-900">Gestione Utenti</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci gli utenti abilitati ad accedere
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToGestioneUtenti()">
                    </p-button>
                </div>
            </p-card>
        </div>

        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadTipologiaCommessa">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-list text-6xl text-primary mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-900">Tipologie commessa</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci l'anagrafica delle tipologie di commessa
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToGestioneTipologieCommessa()">
                    </p-button>
                </div>
            </p-card>
        </div>

        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadStatusCommessa">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-list text-6xl text-primary mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-900">Status commessa</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci l'anagrafica degli status delle commesse
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToGestioneStatusCommessa()">
                    </p-button>
                </div>
            </p-card>
        </div>

        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadModalitaPagamento">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-money-bill text-6xl text-primary mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-900">Modalità pagamento</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci l'anagrafica delle modalità di pagamento
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToGestioneModalitaPagamento()">
                    </p-button>
                </div>
            </p-card>
        </div>

        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadScopoLavoro">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-list text-6xl text-primary mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-900">Scopi lavoro</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci l'anagrafica degli scopi lavoro
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToGestioneScopoLavoro()">
                    </p-button>
                </div>
            </p-card>
        </div>
    </div>
    <p-divider align="left" type="solid" *ngIf="hasClientAndCommessaPermissions">
        <b>Clienti e commesse</b>
    </p-divider>
    <div class="grid">
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadCliente">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-users text-6xl text-primary text-600 mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-4600">Gestione clienti</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci i clienti e il mansionario del personale associato
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToGestioneClienti()">
                    </p-button>
                </div>
            </p-card>
        </div>
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadTempleatePianoSviluppo">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-file-check text-6xl text-primary text-600 mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-4600">Piani di sviluppo e attività</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci i template dei piani di sviluppo e delle attività
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToGestioneTemplatePianoSviluppo()">
                    </p-button>
                </div>
            </p-card>
        </div>
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadCommessa">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-file text-6xl text-primary text-600 mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-4600">Gestione commesse</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci le commesse e le attività ad esse associate
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToGestioneCommesse()">
                    </p-button>
                </div>
            </p-card>
        </div>
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadCommessa">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-calendar-clock text-6xl text-primary text-600 mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-4600">Planning</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci il planning
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToPlanning()">
                    </p-button>
                </div>
            </p-card>
        </div>
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadCommessa">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-stopwatch text-6xl text-primary text-600 mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-4600">Ore e spese</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Carica ore e spese
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToOreESpese()">
                    </p-button>
                </div>
            </p-card>
        </div>
    </div>
    <p-divider align="left" type="solid" *ngIf="hasAmministratoriPermissions">
        <b>Funzioni per amministratori</b>
    </p-divider>
    <div class="grid">
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadFornitore">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-users text-6xl text-primary text-600 mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-4600">Fornitori</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci i fornitori
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToGestioneFornitori()">
                    </p-button>
                </div>
            </p-card>
        </div>
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadCostoTrasferta">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-money-bill text-6xl text-primary text-600 mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-4600">Costi trasferta</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci i costi di trasferta del personale
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToCostiTrasferta()">
                    </p-button>
                </div>
            </p-card>
        </div>
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadCollaudo">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-file-check text-6xl text-primary text-600 mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-4600">Collaudi</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci i collaudi
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToCollaudi()">
                    </p-button>
                </div>
            </p-card>
        </div>
        <div class="col-12 md:col-4 lg:col-2" *ngIf="canReadOnere">
            <p-card class="h-full">
                <div class="text-center p-2">
                    <i class="pi pi-money-bill text-6xl text-primary text-600 mb-3"></i>
                    <h3 class="text-xl font-semibold mb-3 text-4600">Oneri</h3>
                    <p class="text-600 mb-2 line-height-3">
                        Gestisci gli oneri
                    </p>
                    <p-button label="Accedi" icon="pi pi-arrow-right" class="w-full" size="large"
                        (onClick)="navigateToOneri()">
                    </p-button>
                </div>
            </p-card>
        </div>
    </div>
</div>