<app-modal [titolo]="'Richiesta di reset password inviata'" [descrizione]="
        'Riceverari una email con le istruzioni per il reset della password'
    "></app-modal>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <app-app-logo></app-app-logo>
        <div style="padding:0.3rem;">
            <div class="w-full surface-card py-8 px-5 sm:px-8 shadow-2">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Recupero password</div>
                    <span class="text-600 font-medium">Inserisci la tua email per ricevere le istruzioni</span>
                </div>
                @if(pswLostForm) {
                <form [formGroup]="pswLostForm" class="w-25rem">
                    <div>
                        <div class="field p-fluid">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>

                            <input id="email" type="email" placeholder="Email address" pInputText
                                formControlName="email" class="w-full" style="padding: 1rem" />
                            <small id="email-error" class="p-error" *ngIf="
                                    pswLostForm.get('email')?.invalid &&
                                    pswLostForm.get('email')?.touched
                                ">Inserisci un indirizzo mail valido</small>
                        </div>
                        <button pButton pRipple label="Reset Password" class="w-full p-3 text-xl"
                            [disabled]="!pswLostForm.valid" (click)="reset()"></button>
                    </div>
                </form>
                }
            </div>
        </div>
    </div>
</div>