<app-modal [titolo]="'Errore'" [descrizione]="
        'Impossibile cambiare la password, prova a fare una nuova richiesta di reset'
    " [linkUrl]="'/auth/password-lost'" [linkText]="'qui'">
</app-modal>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <app-app-logo></app-app-logo>
        <div style="padding:0.3rem;">
            <div class="w-full surface-card py-8 px-5 sm:px-8 shadow-2">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Reset password</div>
                    <span class="text-600 font-medium">Inserisci la tua nuova password</span>
                </div>
                @if(resetPwdForm) {
                <form [formGroup]="resetPwdForm">
                    <div>
                        <div class="field mb-4">
                            <label for="password" class="block text-900 text-xl font-medium mb-2">Nuova password</label>
                            <p-password id="password" placeholder="Password" [toggleMask]="true"
                                formControlName="password" styleClass="w-full" inputStyleClass="w-full"
                                [inputStyle]="{'padding': '1rem'}"
                                pTooltip="La password deve essere lunga almeno 12 caratteri e contenere almeno un carattere maiuscolo, un numero e un carattere speciale"
                                tooltipPosition="bottom" #password></p-password>
                            <small id="password-error" class="p-error block mt-1" *ngIf="
                                    resetPwdForm.get('password')?.invalid &&
                                    resetPwdForm.get('password')?.touched
                                ">La password non soddisfa i requisiti minimi di complessità</small>
                        </div>
                        <div class="field mb-5">
                            <label for="passwordConfirm" class="block text-900 text-xl font-medium mb-2">Conferma nuova
                                password</label>
                            <p-password id="passwordConfirm" placeholder="Conferma la nuova password"
                                [toggleMask]="true" formControlName="passwordConfirm" styleClass="w-full"
                                inputStyleClass="w-full" [inputStyle]="{'padding': '1rem'}"
                                #passwordConfirm></p-password>
                            <small id="password-confirm-error" class="p-error block mt-1" *ngIf="
                                    resetPwdForm?.errors
                                        ?.['notSame']
                                ">Le due password inserite non
                                corrispondono</small>
                        </div>
                        <button pButton pRipple label="Reset Password" class="w-full p-3 text-xl mt-5"
                            [disabled]="!resetPwdForm.valid" (click)="reset()"></button>
                    </div>
                </form>
                }
            </div>
        </div>
    </div>
</div>